*{
    margin: 0;
    padding: 0;
}

.box_2{
    position: relative;
}

.box_2 img{
    width: 100%;
    height: 100vh;
}

.text_2{
    position: absolute;
    top: 40%;
    left: 30%;
     width: 600px; 

    background-color: green;
    opacity: 0.8;   /* makes it transparent */
    
    padding: 40px;
    border-radius: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    text-align: center;
    color: white;
}

.text_2 button{
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid white;
    background: transparent;
    color: white;
}