*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: #4a4a4a;   /* dark gray */
    padding: 25px 40px;
    text-align: center;
}

/* Footer container */
.footer-content{
    max-width: 1200px;
    margin: auto;
}

/* Links */
.footer-content ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   /* helps in small screens */
    gap: 35px;
    margin-bottom: 15px;
}

.footer-content ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Hover effect */
.footer-content ul li a:hover{
    text-decoration: underline;
}

/* Copyright text */
.footer-content p{
    color: white;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}